/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Nunito+Sans:wght@400;600;800&display=swap');

/*
   font-family: 'Montserrat', sans-serif;      Weights: 900, 800, 700
   font-family: 'Nunito Sans', sans-serif;     Weights: 900, 800, 600, 400, 300
*/



/* Vairables  */
:root {
   /* MAIN PAGE PROPERTIES */
   --backgroundColour: #FFFFFF;
   --blueAccent: #4087C2;
   --yellowAccent: #F6C339;
   --darkAccent: #333333;
   --darkBlue: #24252A;
   --darkBlack: #0D0D0D;
   --snowWhite: #FFFAFA;
   --errorRed: #CC4144;

   --lightFillColour: var(--backgroundColour);
   --darkFillColour: var(--darkBlue);

   --mainTextColour: white;
   --secoundaryTextColour: black;

   --sitePadding: 30px 10%;
   --bodyTextPadding: 10px 0px;


   /* WEBSITE FONT PROPERTIES */
   --titleFont: 'Montserrat', sans-serif;
   --headerFont: 'Nunito Sans', sans-serif;
   --bodyFont: 'Nunito Sans', sans-serif;

   --titleFontWeight: 900;
   --headerFontWeight: 800;
   --navFontWeight: 700;
   --bodyFontWeight: 600;

   --titleFontSize: 60px;
   --headerFontSize: 40px;
   --subheaderFontSize: 30px;
   --bodyFontSize: 18px;

   /* Mobile font sizes */
   --mobiletitleFontSize: 10vw;


   /* HEADER PROPERTIES */
   --navPadding: 20px 10%;
   --dropdownPadding: 0px 10% 30px 10%;
   --dropdownLinksPadding: calc(calc(100vw - 20%) / 13.3);


   /* CARD PROPERTIES */
   --cardHeight: 200px;
   --mobileCardHeight: 400px;
   --cardSmallWidth: 30.6%;    /* 30.6% */
   --cardWideWidth: 48%;
   --cardMobileWidth: 80vw;
   --borderRadius: 5px;
   --mobileBorderRadius: 12px;
   --mobileTutorialCardBoxShadow: var(--codeBlockBoxShadow);  

   /* TUTORIAL PAGE PROPERTIES */
   --codeBlockPadding: 10px 0px 30px 0px;
   --codeBlockBoxShadow: 0px 8px 25px 0px rgba(0,0,0,0.4);

   /* FOOTER */
   --footerLinkPadding: calc(calc(100vw - 20%) / 3.5);
   --footerSiteMapPadding: calc(calc(100vw - 20%) / 16.5);


}

/* JAVASCRIPT CLASSES */

.hidden {display: none;}
.show {display: initial;}
.static {overflow: hidden;}

.drk-mode-icon {transition: 0.4s ease-in-out; color: var(--yellowAccent);}
/* Changed colours when changing to dark mode */
.dark-mode-colours {
   --backgroundColour: #24252A;
   --blueAccent: #4087C2;
   --yellowAccent: #F6C339;
   --darkAccent: #333333;
   --darkBlue: white;
   --darkBlack: white;
   --snowWhite: #FFFAFA;
   --errorRed: #CC4144;

   --lightFillColour: #FFFFFF;
   --darkFillColour: #24252A;

   transition: 0.4s;
   }


/* WEBSITE CSS BEGINS */

html{margin: 0px; padding: 0px; font-family: 'Nunito Sans', sans-serif; box-sizing: border-box; overflow-x: hidden; background-color: var(--backgroundColour); color: var(--mainTextColour); scroll-behavior: smooth; transition: 0.4s;}

body{margin: 0px; padding: 0px; position: relative;}

   #body-wrapper {width: 100%;}

   /* HEADER & NAV BAR STYLING */
   header, footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--darkFillColour);
      font-weight: var(--navFontWeight);
      padding: var(--navPadding);
      }

      nav {}


         li, a, p.dropdown, .bk2top-text {
            font-family: 'Montserrat', sans-serif;
            font-weight: var(--textFont);
            font-size: 16px;
            color: var(--snowWhite);
            text-decoration: none;
            cursor: pointer;
         }


         .logo-text {
            cursor: pointer;
         }

         .nav-links, ul {
            list-style: none;
            padding: 0px;
         }

         .nav-links li, .site-map li  {
            display: inline-block;
            padding: 0px 20px;
         }

         .nav-links li a {
            transition: all 0.3s ease 0s;
         }

         .yellow.link:hover {
            color: var(--yellowAccent);
         }

         .nav-links li a:hover {
            color: var(--blueAccent);
         }

         /* Fixing right padding on tutorial link to make everything line up */
         nav ul li:nth-child(2) {padding-right: 0px;}

      .burger {display: none;}

      .dropdown-content {background-color: var(--darkFillColour); padding: var(--dropdownPadding); font-weight: var(--navFontWeight);}

         .dropdown-content a .yellow:hover {color: var(--yellowAccent);}  /* doesnt work, figure out why */

         .dropdown-content ul, .site-map ul {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            margin: 0px;
         }

         .dropdown-content ul li, .site-map ul li {padding: 0px;}

   .title-page {}

      #title-container, .container {
         /* height: 73px; */
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: var(--sitePadding);
      }

         .title-text /*, .tutorial-title-text */ {
            font-family: var(--titleFont);
            font-size: var(--titleFontSize);
            color: var(--darkBlack);
            display: inline-block;
            margin: 0px;
         }

         #title-container img {
            max-width: 100%;
            max-height: 73px;

         }

      .container, .tutorial-container {
         padding: 10px 11% 30px 11%;
         font-size: var(--bodyFontSize)
      }
         p {
            font-family: var(--bodyFont);
            /* font-size: var(--bodyFontSize); */
            color: var(--darkBlack);
            display: inline-block;
            margin: 0px;
         }


   .tutorial-cards {
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: space-between;
      flex-flow: wrap;
      padding: var(--sitePadding);
      }

      .small-card-wrapper, .wide-card-wrapper {margin: 0px 0px 50px 0px; transition: 0.3s; border-radius: var(--borderRadius);}

      .small-card-wrapper {width: var(--cardSmallWidth);}
      .wide-card-wrapper {width: var(--cardWideWidth);}

      .card-container{overflow: hidden; position: relative; border-radius: var(--borderRadius);}

      .card-small, .card-wide {
         display: inline-block;
         height: var(--cardHeight);
         line-height: var(--cardHeight);
         overflow: hidden;
         transition: 0.2s ease-in-out;
         text-align: center;
         max-height: 188px;
         border-radius: var(--borderRadius);
      }

      .card-contaier:hover .card-small:hover, .card-wide:hover, .small-card-wrapper:hover, .wide-card-wrapper:hover {
         /* .small-card:hover > * .small-card-wrapper, .wide-card:hover > * .wide-card-wrapper */
         transform: scale(1.05);
         box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.75);
         cursor: pointer;
      }

         /*
         /* Blurred card images on hover */ /*
         .card-small:hover .card-small img, .card-wide:hover .card-wide img, .small-card-wrapper:hover img, .wide-card-wrapper:hover img {
            filter: blur(0.8px);
            -webkit-filter: blur(0.8px);
         } */

      /* Media query for fixing the undersized window white box issues */
      @media only screen and (max-width: 1420px) { /* targeting windows 1420px and under */
         .card-small:hover, .card-wide:hover {
            transform: scale(1.4);  /* Suppose to increase the scale the image in enlarging by, thus filling the white box, solving the issue */
            transition: 0.2s;
         }
      }

      @media only screen and (max-width: 1100px) { /* targetinng windows 1100px and under */
         /* Reduce tutorial cards text size  */
         .card-title h1.tutorial-card-title {font-size: 40px; line-height: 40px;}
         /* Increase small cards height and fix white top and bottom bar thing */
         .card-small img, .card-wide img {
           transform: scale(1.5);
         }
      }

      @media only screen and (max-width: 950px) {
         /* Fixes the issue of square corners at reduced screen width */
         .card-small img, .card-wide img {transform: scale(2);}
      }

      @media only screen and (max-width: 850px) {
         /* Reduce tutorial cards text size  */
         .card-title h1.tutorial-card-title {font-size: 30px; line-height: 35px;}
         .small-card-wrapper, .wide-card-wrapper {margin: 0px 0px 25px 0px;}
      }



      .card-small img, .card-wide img {
         position: relative;
         margin: -50% auto;
         width: 100%;
         height: auto;
         vertical-align: middle;
         border-radius: var(--borderRadius);
        }

      .card-title h1  {
         font-size: 50px;
         line-height: 60px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         margin: 0px;
         }


   /* Tutorial Page Styling  */
   .tutorial-page {}

      .blue, .green, .orange, .red {font-weight: 600;}
      .blue {color: var(--blueAccent)}
      .green {color: green;}
      .orange {color: #F26938;}
      .red {color: var(--errorRed);}
      .spacer {padding: 0px 10px;}

      .tutorial-title-container {padding: var(--sitePadding);}

         .tutorial-title-text {
            font-family: var(--titleFont);
            font-size: var(--titleFontSize);
            color: var(--darkBlack);
            width: 100%;
            display: inline-block;
            text-align: center;
            margin: 0px auto;
         }

         .tutorial-desc {
            width: 100%;
            display: inline-block;
            text-align: center;
            font-size: 18px;
            font-stretch: expanded;
         }

      .tutorial-container {}

         .subheader {
            color: var(--darkBlack);
            text-transform: uppercase;
            font-family: var(--headerFont);
            font-size: var(--headerFontSize);
            font-weight: var(--headerFontWeight);
            padding: 15px 0px 0px 0px;
            margin: 0px;
         }

         h3 {
            color: var(--darkBlack);
            /* text-transform: uppercase; */
            font-family: var(--headerFont);
            font-size: var(--subheaderFontSize);
            font-weight: var(--headerFontWeight);
            padding: 15px 0px 0px 0px;
            margin: 0px;
         }

         /* .italic {font-style: italic;}  */

         .tutorial-container p {
            width: 100%;
            padding: var(--bodyTextPadding);
            font-size: var(--bodyFontSize);
           }

            .tutorial-container p a.repl-link {
               color: var(--blueAccent);
               text-decoration: underline;
               transition: 0.2s;
               }

               .tutorial-container p a.repl-link:hover {
                  color: var(--yellowAccent);
               }

         /* List styling */
         p.list-title {padding-bottom: 5px;}

            .tutorial-container ul.tutorial-list {
               padding: 0px 0px 20px 40px;
               margin: 0px;
               list-style-type: decimal;
               color: var(--darkBlack);
            }

            .tutorial-container ul li {
            font-family: var(--bodyFont);
            color: var(--darkBlack);
            text-decoration: none;
            display: block;
            margin: 0px;
            cursor: auto;
         }

         .code-block, .error-message {
            padding: var(--codeBlockPadding);
            justify-content: center;
            }

            /* Styling for code blovks in paragraph  */
            span.enlighter {padding: 0px 5px;}
               /* In paragraph code font size */
               .enlighter-t-enlighter.enlighter-v-inline {
                  font-size: 15px;
               }

            /* Used for main code blocks */
            .enlighter-t-atomic, .enlighter-t-dracula {
               padding: 25px 0px;
               margin: 0px 2.5%;
               border-radius: 5px;
               box-shadow: var(--codeBlockBoxShadow);
            }


            /* Styling for error message theme */
            .enlighter-t-dracula {
               padding: 0px 0px 25px 10px;
               border-radius: 0px 0px 5px 5px;
               background-color: #272b33;
               box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.4);
               }

            .enlighter-t-dracula div.enlighter>div {background-color: #272b33;}

               /* Connecting the top code with the bottom error message */
               .error-message .enlighter-t-atomic {
                  padding: 25px 0px 10px 0px;
                  /* Connecting the top code with the bottom error message */
                  border-radius: 5px 5px 0px 0px;
               }

               /* Styling text for error message theme */
               .enlighter-t-dracula span.enlighter-text,
               .enlighter-t-dracula span.enlighter-m0,
               .enlighter-t-dracula span.enlighter-g1,
               .enlighter-t-dracula span.enlighter-s0,
               .enlighter-t-dracula span.enlighter-n1,
               .enlighter-t-dracula span.enlighter-k0,
               .enlighter-t-dracula span.enlighter-k1 {
                  color: var(--errorRed);
                  font-weight: 600;
               }


   footer {width: 80%;}

      .bk2top {display: none;}

      footer nav {width: 100%;}

      footer ul.nav-links {display: flex; justify-content: space-between;}

         footer ul.nav-links li {padding: 0px;}

      .site-map {display: flex; justify-content: space-between;}

         .site-map ul {margin: auto; /* 16px Default */ }  /* being styled under: header, footer/nav/.dropdown-content/... */

         ul.site-map li {padding: 0px;} /* being styled under: header, footer/nav/.dropdown-content/...  */

         ul.site-map a:hover {color: var(--yellowAccent);}

      .drk-mode{display: initial; transition: 0.4s; position: absolute; right: 0; margin-right: 4%;}

         .drk-mode:hover {transform: scale(1.25); transition: 0.4s;}

         .fa-moon {transition: 0.4s ease-in-out; cursor: pointer; font-size: 20px;}



/* Portrait for iPhone X, Samsung S10 :     https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

   #INDEX-PAGE{}

      .burger {display: initial;}

      a.logo-text {font-size: 5vw;}

      nav {display: none;}

         .site-map {display: block;}

         .dropdown-content ul, .site-map ul {
            display: block;
            padding: 10vh 0px;
            height: 80vh;
         }

         .dropdown-content ul li, .site-map ul li {
            display: table;
            text-align: center;
            vertical-align: middle;
            line-height: 100px;
            width: 100%;
         }

         .dropdown-content ul li a, .site-map ul li a {
            display: table-cell;
            vertical-align: middle;
            font-size: 10vw;
         }

      .title-page {}

         #title-container h1 {
            display: block;
            font-size: var(--mobiletitleFontSize);
         }

         #title-container img {display: none;}


      .tutorial-cards {}

         /* Adjusting tutorial card width - Stacking one on top of each other */
         .small-card-wrapper, .wide-card-wrapper {width: var(--cardMobileWidth);}

         /* Adjusting tutorial card title font size */
         .card-title h1.tutorial-card-title {font-size: 10vw; line-height: normal; width: 100%;}

         /* Styling border radius */
         .small-card-wrapper, .wide-card-wrapper {border-radius: var(--mobileBorderRadius);}
         .card-container {border-radius: var(--mobileBorderRadius);}
         .card-small, .card-wide {border-radius: var(--mobileBorderRadius); height: var(--mobileCardHeight); transform: scale(1.1);}
         .card-small img, .card-wide img {transform: scale(1); border-radius: var(--mobileBorderRadius); }
         /* Styling drop shadows */
         .small-card-wrapper, .wide-card-wrapper {box-shadow: var(--mobileTutorialCardBoxShadow);}


      footer{}

         .bk2top {display: initial; position: relative; height: 50px; width: 100%;}

            .bk2top-text{
               position: absolute;
               width: 100%;
               text-align: center;
               vertical-align: middle;
               font-size: 5vw;
               top: 50%;
               transform: translate(-2%, -50%);
            }

            .bk2top-text span {opacity: 0.5; padding: 0px 3px;}

            a.bk2top, .bk2top-arrows {display: inline-block;}

            .bk2top-arrows {margin: auto;}

         .drk-mode {margin-right: 10%;}

            .drk-mode:hover {transform: scale(1);}



   #TUTORIAL-PAGES{}

      .title-page {}

         h1.tutorial-title-text {
            display: block;
            font-size: 9.4vw; /* var(--mobile) */
         }

      .code-block {margin: -40px auto;}

         /* Code Block line number padding  */
         .enlighter-t-atomic.enlighter-linenumbers div.enlighter>div::before {padding: 1px 5px 1px 10px;}

         /* Code Block line number width */
         .enlighter-linenumbers div.enlighter>div::before {width: 10px; min-width: 10px;}

         .code-block .enlighter-default, .error-message  {
            transform: scale(0.55);
            width: 170vw;
            margin: auto auto auto -46vw;
         }

}
