/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&family=Nunito+Sans:ital,wght@0,800;0,900;1,400&display=swap');

/*
   font-family: 'Montserrat', sans-serif;      Weights: 900, 800, 700
   font-family: 'Nunito Sans', sans-serif;     Weights: 900, 800, 400
*/



/* Vairables  */
:root {
   /* MAIN PAGE PROPERTIES */
   --backgroundColour: #FFFFFF;
   --blueAccent: #4087C2;
   --yellowAccent: #F6C339;
   --darkAccent: #333333;
   --darkBlue: #24252A;
   --darkBlack: #0D0D0D;
   --snowWhite: #FFFAFA;

   --mainTextColour: white;
   --secoundaryTextColour: black;

   --sitePadding: 30px 10%;
   --navPadding: 20px 10%;
   --bodyTextPadding: 10px 0px;
   --codeBlockPadding: 10px 0px 30px 0px;



   --titleFont: 'Montserrat', sans-serif;
   --headerFont: 'Nunito Sans', sans-serif;
   --bodyFont: 'Nunito Sans', sans-serif;

   --titleFontWeight: 900;
   --headerFontWeight: 800;
   --bodyFontWeight: 400;

   --titleFontSize: 60px;
   --headerFontSize: 40px;
   --subheaderFontSize: 30px;
   --bodyFontSize: 18px;

   /* HEADER PROPERTIES */


   /* NAV PROPERTIES */

   /* CARD PROPERTIES */
   --cardHeight: 200px;
   --cardSmallWidth: 30.6%;    /* 30.6% */
   --cardWideWidth: 48%;
   --borderRadius: 5px;

   /* FOOTER */
   --footerLinkPadding: calc(calc(100vw - 20%) / 3.5);
   --footerSiteMapPadding: calc(calc(100vw - 20%) / 16.5);


}

/* JAVASCRIPT CLASSES */

.hidden {display: none;}
.show {display: initial;}


/* WEBSITE CSS BEGINS */

html{margin: 0px; padding: 0px; font-family: 'Nunito Sans', sans-serif; box-sizing: border-box; overflow-x: hidden; background-color: var(--backgroundColour); color: var(--mainTextColour)}

body{margin: 0px; padding: 0px;}

   /* HEADER & NAV BAR STYLING */
   header, footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--darkBlue);
      padding: var(--navPadding);
      }

      nav {}

         li, a {
            font-family: 'Montserrat', sans-serif;
            font-weight: var(--textFont);
            font-size: 16px;
            color: var(--snowWhite);
            text-decoration: none;
         }


         .logo-text {
            cursor: pointer;
         }

         .nav-links, .site-map {
            list-style: none;
            padding: 0px;
         }

         .nav-links li, .site-map li  {
            display: inline-block;
            padding: 0px 20px;
         }

         .nav-links li a, .site-map li a {
            transition: all 0.3s ease 0s;
         }

         #yellow.link:hover {
            color: var(--yellowAccent);
         }

         .nav-links li a:hover, .site-map li a:hover {
            color: var(--blueAccent);
         }


   .title-page {}

      #title-container, .container {
         /* height: 73px; */
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: var(--sitePadding);
      }

         .title-text /*, .tutorial-title-text */ {
            font-family: var(--titleFont);
            font-size: var(--titleFontSize);
            color: var(--darkBlack);
            display: inline-block;
            margin: 0px;
         }

         #title-container img {
            max-width: 100%;
            max-height: 73px;

         }

      .container, .tutorial-container {
         height: 100%;
         padding: 10px 11% 30px 11%;
         font-size: var(--bodyFontSize)
      }
         p {
            font-family: var(--bodyFont);
            /* font-size: var(--bodyFontSize); */
            color: var(--darkBlack);
            display: inline-block;
            margin: 0px;
         }


   .tutorial-cards {
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: space-between;
      flex-flow: wrap;
      padding: var(--sitePadding);
      }

      .small-card-wrapper, .wide-card-wrapper {margin: 0px 0px 50px 0px; transition: 0.3s; border-radius: var(--borderRadius);}

      .small-card-wrapper {width: var(--cardSmallWidth);}
      .wide-card-wrapper {width: var(--cardWideWidth);}

      .card-container{overflow: hidden; position: relative; border-radius: var(--borderRadius);}

      .card-small, .card-wide {
         display: inline-block;
         height: var(--cardHeight);
         line-height: var(--cardHeight);
         overflow: hidden;
         transition: 0.2s;
         text-align: center;
         max-height: 188px;
         border-radius: var(--borderRadius);
      }

      .card-small:hover, .card-wide:hover, .small-card-wrapper:hover, .wide-card-wrapper:hover {
         transform: scale(1.05);
         box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.75);
         cursor: pointer;
      }

      /* Media query for fixing the undersized window white box issues */
      @media only screen and (max-width: 1420px) { /* targetinng windows 1420px and under */
         .card-small:hover, .card-wide:hover {
            transform: scale(1.4);  /* Suppose to increase the scale the image in enlarging by, thus filling the white box, solving the issue */
            transition: 0.2s;
         }



      .card-small img, .card-wide img {
         position: relative;
         margin: -50% auto;
         width: 100%;
         height: auto;
         vertical-align: middle;
         border-radius: var(--borderRadius);
      }

      .card-title h1  {
         font-size: 50px;
         line-height: 60px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         margin: 0px;
         }



   /* Tutorial Page Styling  */
   .tutorial-page {}

      blue {color: var(--blueAccent)}
      green {color: green;}
      orange {color: #F26938;}

      .tutorial-title-container {padding: var(--sitePadding);}

         .tutorial-title-text {
            font-family: var(--titleFont);
            font-size: var(--titleFontSize);
            color: var(--darkBlack);
            width: 100%;
            display: inline-block;
            text-align: center;
            margin: 0px auto;
         }

         .tutorial-desc {
            width: 100%;
            display: inline-block;
            text-align: center;
            font-size: 18px;
            font-stretch: expanded;
         }

         .tutorial-desc x {
            padding: 0px 10px;
         }

      .tutorial-container {}

         .subheader {
            color: var(--darkBlack);
            text-transform: uppercase;
            font-family: var(--headerFont);
            font-size: var(--headerFontSize);
            font-weight: var(--headerFontWeight);
            font-style: bold;
            padding: 15px 0px 0px 0px;
            margin: 0px;
         }

         h3 {
            color: var(--darkBlack);
            text-transform: uppercase;
            font-family: var(--headerFont);
            font-size: var(--subheaderFontSize);
            font-weight: var(--headerFontWeight);
            font-style: bold;
            padding: 15px 0px 0px 0px;
            margin: 0px;
         }

         .tutorial-container p {
            width: 100%;
            padding: var(--bodyTextPadding);
            font-size: var(--bodyFontSize);
         }

         .code-block {
            padding: var(--codeBlockPadding);
            justify-content: center;

         }

            .enlighter-t-atomic {
               padding: 25px 0px;
               margin: 0px 2.5%;
               border-radius: 5px;
            }


   footer {justify-content: space-around; position: absolute; /* bottom: 0px; */ width: 80%;}

      footer .nav-links {text-align: center;}

      #footer-logo-text {padding: 0px;} /* padding: 0px var(--footerLinkPadding); */

      footer .nav-links li:nth-child(1) {padding: 0px var(--footerLinkPadding) 0px 0px;}

      footer .nav-links li:nth-child(3) {padding: 0px 0px 0px var(--footerLinkPadding);}

      .site-map {justify-content: space-around; text-align: center;}

         .site-map li:nth-child(1) {padding: 0px var(--footerSiteMapPadding) 0px 0px; }

         .site-map li {padding: 0px var(--footerSiteMapPadding);}

         .site-map li:nth-child(5) {padding: 0px 0px 0px var(--footerSiteMapPadding); }
